body {
   text-align: center;
   font-family: verdana, sans-serif;
}

h1 {
   font-size: 2em;
   font-weight: bold;
   color: #777777;
   margin: 40px 0px 70px;
   text-align: center;
}

.gwt-PushButton {
	color: red;
}

.gwt-PushButton-up {
	color:green;
}

.gwt-PushButton-up-hovering {
	color:pink;
}

.gwt-PushButton-down-hovering {
	color:aqua;
}

.gwt-PushButton-up-disabled {
	color:lime;
}

.gwt-PushButton-down-disable {
	color: marron;
}

.gwt-ToogleButton-down {
	color:blue;
}

.gwt-ToogleButton-up {
	color: green;
}

.gwt-ToogleButton-down-hovering {
	color:acqua;
}

.gwt-ToogleButton-up-disabled {
	color:lime;
}

.gwt-ToogleButton-down-disabled {
	color: maroon;
}

.gwt-CheckBox {
	color:green;
}

.gwt-CheckBox-disabled {
	color:green;
}


.gwt-RadioButton {
	color:green;
}

.gwt-TextBox {
	color:green;
}

.gwt-TextBox-readonly{
	background-color:yellow;
}


.gwt-ListBox {
	color:green;
}


.gwt-SuggestBox { 
   color: green;
}

.gwt-SuggestBoxPopup { 
   border: thin 1px solid green; 
   width: 200px;
}

.gwt-SuggestBoxPopup.item { 
   color: red; 
}

.gwt-SuggestBoxPopup .item-selected { 
   color: gray;
}

.gwt-PasswordTextBox {
	color:green;
}

.gwt-PasswordTextBox-readonly{
	background-color: yellow;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeft { 
   border: thin 1px solid green; 
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner { 
   border: thin 1px solid green; 
}

.gwt-SuggestBoxPopup .suggestPopupTopCenter { 
   border: thin 1px solid green; 
}

.gwt-SuggestBoxPopup .suggestPopupTopCenterInner { 
   border: thin 1px solid green; 
}

.gwt-SuggestBoxPopup .suggestPopupTopRight {
   border: thin 1px solid green; 
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
   border: thin 1px solid green; 
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleCenter { 
   border: thin 1px solid green; width:200px;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRight { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
   border: thin 1px solid green;
 }

.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRight { 
   border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner { 
   border: thin 1px solid green;
}

.gwt-TextArea {
	color:green;
}

.gwt-TextArea-readonly{
	background-color: yellow;
}

.gwt-RichTextArea{
	padding: 10px;
}